@import "../../styles//styles.scss";

.pagination-parent {
    color: $color-theme;
    width: 100%;
    @include flex-center();
    gap: 1vw;
    padding: 2vh 0;
    @media (max-width: 768px) {
        gap: 4vw;
    }
}

.page-container {
    button {
        border-radius: 100%;
        width: 35px;
        height: 35px;
        border: 2px solid $color-theme;
        font-size: $--24px;
        &:hover {
            background-color: $color-theme;
            color: black;
        }
    }
}

.page-active {
    background-color: $color-theme;
    color: black;
}
