@import "../../styles/styles.scss";

.newsRender-parent {
    @include flex-center();
    width: 100%;
    padding: 3vh 0;
    border-top: 5px solid $color-theme;
}

.news-container {
    @include flex-center();
    justify-content: flex-start;
    gap: 2vw;
    width: 50%;
    @media (max-width: 768px) {
        @include flex-center(column);
        width: 100%;
        padding: 0 5vw;
    }
}

.newsRender-left {
    @include flex-center(column);
    flex: 1;
    gap: 2vh;
    div div {
        margin-top: 2vh;
        @include flex-center();
        gap: 1vw;
    }
    img {
        border-radius: 1vw;
    }
    @media (max-width: 768px) {
        img {
            border-radius: 2vw;
            width: 200px;
        }
        div div {
            margin: 0;
            gap: 2vw;
        }
    }
}
.newsRender-right {
    flex: 2;
    h1 {
        font-family: var(--font-bebas);
        font-size: $--38px;
        line-height: 2.7rem;
        @media (max-width: 768px) {
            font-size: $--32px;
        }
    }
    p {
        font-size: $--14px;
        font-family:
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue",
            sans-serif;
        font-weight: lighter;
        line-height: $--26px;
        text-align: justify;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 1vh;
        @media (max-width: 768px) {
            font-weight: 300;
        }
    }

    span {
        color: $color-theme;
        text-transform: uppercase;
        text-decoration: underline;
        font-family: Helvetica, sans-serif;
        font-weight: 700;
        font-size: $--12px;
    }
}

.vote-icon {
    color: $color-theme;
    font-size: $--42px;
    border: 2px solid $color-theme;
    padding: 6px;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
        color: black;
    }
}
.vote-icon-disabled {
    color: $color-theme;
    font-size: $--42px;
    border: 2px solid $color-theme;
    padding: 6px;
    border-radius: 100%;
}
.vote-icon-green {
    color: rgb(0, 255, 0);
}
.vote-icon-red {
    color: red;
}

.vote-details {
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 100;
    color: rgb(0, 0, 0, 0.5);
    margin-top: -1vh;
    @media (max-width: 768px) {
        font-weight: 500;
        font-size: $--12px;
        margin: 0;
    }
}

.voteDetails-container {
    @include flex-center(column);
    @media (max-width: 768px) {
        @include flex-center();
        gap: 2vw;
    }
}

.fact-check {
    border: 2px solid $color-theme;
    padding: 0.5vh 1vw;
    border-radius: 1vw;

    &:hover {
        color: black;
        background-color: $color-theme;
        font-weight: 700;
    }
    @media (max-width: 768px) {
        padding: 0.5vh 2vw;
    }
}
