@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../styles/styles.scss";

body {
  box-sizing: border-box;
}
/* styles/globals.css (or a dedicated CSS/SCSS file for skeletons) */

.skeleton-container {
  padding: 20px;
}

.skeleton-title {
  width: 50%;
  height: 20px;
  background-color: #e0e0e0;
  margin-bottom: 20px;
}

.skeleton-line {
  width: 100%;
  height: 15px;
  background-color: #e0e0e0;
  margin-bottom: 10px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

.alert-message {
  position: absolute;
  top: 5%;
  right: -15%;
  animation: swipeLeft 0.2s ease-in forwards;
}

@keyframes swipeLeft {
  0% {
    right: -15%;
  }
  100% {
    right: 0%;
  }
}

.fact-check-response {
  border: 1px solid rgb(0, 0, 0, 0.3);
  border-radius: 1vw;
  box-shadow: 0vw 0vw 1vw 2px $color-theme;
  margin: 3vh 0;
  padding: 3vh 2vw;
  color: rgb(0, 0, 0, 0.7);
  text-align: left;
  line-height: $--32px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;

  strong {
    color: black;
    font-weight: 700;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
  a {
    color: skyblue;
    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 768px) {
    font-size: $--16px;
    @include flex-center(column);
    gap: 1vh;
    padding: 2vh 5vw;
    margin-bottom: 5vh;
  }
}
