@import "../../styles/styles.scss";

.navbar-parent {
    width: 100%;
}

.navbar-components {
    @include flex-center();
    justify-content: space-evenly;
    background-color: #ffc617;
}

.nav-head {
    @include flex-center();
    gap: 2vw;
}

.nav-head1 {
    @include flex-center(column);
    align-items: flex-start;

    h1 {
        text-transform: uppercase;
        color: white;
        font-weight: 400;
        font-size: $--42px;
        font-family: var(--font-bebas);
    }
    p {
        margin-top: -1vh;
        font-size: $--12px;
        color: white;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
    }
}

.nav-category {
    @include flex-center();
    padding-top: 1vh;
    gap: 5vw;
    li {
        list-style-type: disc;
        font-weight: 500;
        font-size: 1.3rem;
        letter-spacing: 1px;
        &:hover {
            text-decoration: underline;
        }
    }
}
