@import "../../styles/styles.scss";

.navbar-parent {
    width: 100%;
}

.navbar-components {
    @include flex-center();
    justify-content: space-evenly;
    background-color: #ffc617;
}

.nav-head {
    @include flex-center();
    gap: 2vw;
    @media (max-width: 768px) {
        padding: 0vh 3vw;
        gap: 2vw;
        img {
            width: 90px;
        }
    }
}

.nav-head1 {
    @include flex-center(column);
    align-items: flex-start;

    h1 {
        text-transform: uppercase;
        color: white;
        font-weight: 400;
        font-size: $--42px;
        font-family: var(--font-bebas);
        @media (max-width: 768px) {
            font-size: $--34px;
        }
    }
    p {
        margin-top: -1vh;
        font-size: $--12px;
        color: white;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        @media (max-width: 768px) {
            font-size: $--12px;
        }
    }
}

.nav-container {
    @include flex-center();
    gap: 5vw;
    padding: 1vh 0;
    @media (max-width: 768px) {
        display: none;
    }
}

.nav-category {
    @include flex-center();
    padding-top: 1vh;
    gap: 5vw;
    li {
        list-style-type: disc;
        font-weight: 500;
        font-size: 1.3rem;
        letter-spacing: 1px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.nav-fact-search-user {
    @include flex-center();

    a {
        @include flex-center();
        gap: 0.5vw;
        font-weight: 500;
        font-size: 1.3rem;
        letter-spacing: 1px;
        padding: 2px 15px;
        border-radius: 1vw;
        color: black;
        background-color: $color-theme;
        &:hover {
            text-decoration: underline;
        }
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

//Mobile menu

.menu-icon-mob {
    font-size: $--38px;
}
.menu-icon-close-mob {
    float: right;
    font-size: $--38px;
}
.slide-nav-mob {
    right: 0;
}
.default-nav-mob {
    right: -100%;
}
.nav-menu-mob {
    display: none;
    @media (max-width: 768px) {
        display: block;
    }
}
body.no-scroll {
    overflow: hidden;
}
@media (max-width: 768px) {
    .nav-container-mob {
        position: fixed;
        top: 0;
        background-color: white;
        border-left: 5px solid black;
        border-radius: 4vh 0 0 4vh;
        height: 100%;
        width: 80vw;
        padding: 2vh 2vw;
        padding-bottom: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: all 0.3s ease-in-out;
    }

    .nav-category-mob {
        @include flex-center(column);
        align-items: flex-start;
        padding-top: 2vh;
        gap: 3vh;
        list-style-type: disc;
        padding-left: 30%;
        a {
            font-size: $--32px;
        }
    }
}
