@import "../../styles/styles.scss";

.footer-parent {
    background-color: #ffc617;
    width: 100%;
    padding: 4vh 2vw;
    @media (max-width: 768px) {
        padding: 2vh 4vw;
    }
}

.footer-components {
    @include flex-center();
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    h2 {
        font-size: $--32px;
    }
    @media (max-width: 768px) {
        @include flex-center(column);
        align-items: flex-start;
        justify-content: center;
        gap: 3vh;
    }
}
.footer-container-main {
    p {
        font-size: $--12px;
        font-family: sans-serif;
        font-weight: 600;
        margin-top: -1vh;
        width: 80%;
        a {
            text-decoration: underline;
        }
    }

    @media (max-width: 768px) {
        p {
            width: 100%;
            font-size: $--14px;
        }
    }
}
.footer-container {
    @include flex-center();
    gap: 1vw;
    font-size: $--32px;
    justify-content: flex-start;
    @media (max-width: 768px) {
        gap: 2vw;

        h1 {
            font-size: $--38px;
        }
    }
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    a {
        list-style-type: circle;
        font-size: 1.2rem;
        @media (max-width: 768px) {
            font-size: $--24px;
            list-style-type: disc;
        }
        &:hover {
            color: black;
            text-decoration: underline;
        }
    }
    @media (max-width: 768px) {
        gap: 0;
    }
}

.footer-links-container {
    @include flex-center();
    gap: 1vw;
    @media (max-width: 768px) {
        width: 100%;
        gap: 10vw;
    }
}

.footer-contact {
    @include flex-center(column);
    gap: 1vh;
    align-items: flex-start;
}
.footer-icons-parent {
    @include flex-center();
    gap: 0.5vw;
    a:hover {
        color: black;
        text-decoration: underline;
    }

    @media (max-width: 768px) {
        margin-left: 2vw;
        gap: 2vw;
    }
}
.footer-icons {
    font-size: 2.1rem;
    @media (max-width: 768px) {
        font-size: 2.5rem;
    }
}
