@import "../../../styles/styles.scss";

.factcheck-parent {
    @include flex-center(column);
    width: 100%;
    padding: 3vh 3vw;
    gap: 1vh;
    min-height: 70vh;
    justify-content: flex-start;
    border-top: 4px solid $color-theme;
    h1 {
        font-size: $--48px;
        color: $color-theme;
    }
    p {
        padding-top: 1vh;
    }
    a {
        color: skyblue;
        &:hover {
            text-decoration: underline;
        }
    }
}
.fact-response {
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 1vw;
    box-shadow: 0vw 0vw 1vw 2px $color-theme;
    padding: 3vh 2vw;
    @media (max-width: 768px) {
        padding: 2vh 5vw;
        margin-bottom: 5vh;
    }
}

.fact-response-para {
    color: rgb(0, 0, 0, 0.7);
    text-align: left;
    line-height: $--32px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    width: 95%;
    a {
        color: skyblue;
        &:hover {
            text-decoration: underline;
        }
    }
    @media (max-width: 768px) {
        margin-top: 5vh;
        font-size: $--16px;
        @include flex-center(column);
        gap: 1vh;
    }
}
